
.header__category-list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header__button {
	font-size: 11px;

	.icon {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-right: 1px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.text {
		display: inline-block;
		vertical-align: middle;
	}

}

@media screen and (min-width: 360px) {
	.header__button .icon {
		width: 25px;
		height: 25px;
		margin-right: 3px;
	}
}

@media screen and (min-width: 640px) {
	.header__button {
		font-size: 14px;

		.icon {
			margin-right: 5px;
		}
	}
}

.header__reset {
	border: 0;
	background: #222;
	color: #fff;
	margin: 0;
	padding: 0 10px;
	min-height: 40px;
	float: right;
}

.header__category-button {
	border: 0;
	background: none;
	padding: 5px 0;
	margin: 0;
	display: block;
	width: 100%;
	min-height: 40px;
	position: relative;
	transition: 0.5s;
	background: #ddd;

	&:focus {
		outline: 0;
	}
}

.header__category-item {
	width: 33.3333%;
	float: left;
	position: relative;
	box-sizing: border-box;

	&:before {
		display: none !important;
	}
}

.header__category-button--1.is-active {
	background: $cat-1-color;
}

.header__category-button--2.is-active {
	background: $cat-2-color;
}

.header__category-button--3.is-active {
	background: $cat-3-color;
}
