@mixin tile-element-sizer($font-size, $leading) {
	font-size: #{ $font-size }px;
	line-height: #{ $font-size + ($leading * 2) }px;

	.tile__text-holder {
		padding: #{ $leading * 1 }px 0;
	}
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(-360deg); }
}

.tile {
	position: relative;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	transition: opacity 0.5s;
	transition-delay: $stage2Delay !important;
	transition-duration: $stage2Duration !important;
	transition-timing-function: $stage2Ease !important;
	cursor: pointer;

	&.is-inactive {
		opacity: 0.1;
		cursor: auto
	}

	&.is-enlarged {
		z-index: 1;
		cursor: auto;
	}
}

.has-selected .tile  {
	transition-delay: $stage1Delay !important;
	transition-duration: $stage1Duration !important;
	transition-timing-function: $stage1Ease !important;
}

.change-selection .tile  {
	transition-delay: $change-move-delay !important;
	transition-duration: $change-move-duration !important;
	transition-timing-function: $change-ease !important;
}

.tile__img-holder {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	top: 0;

	img {
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity 0.3s;
	}

	video {
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.layout-complete .tile__img-holder {
	transition: width 0.4s 0s, height 0.4s 0s;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	transition-delay: $stage1Delay;
	transition-duration: $stage1Duration;
	transition-timing-function: $stage1Ease;
}

.is-selected .tile__img-holder {
	transition-delay: $stage2Delay;
	transition-duration: $stage2Duration;
	transition-timing-function: $stage2Ease;
}

.change-selection .tile__img-holder {
	transition-delay: $change-shrink-delay;
	transition-duration: $change-shrink-duration;
	transition-timing-function: $change-ease;
}

.change-selection .is-selected .tile__img-holder {
	transition-delay: $change-grow-delay;
	transition-duration: $change-grow-duration;
}

.is-selected .tile__img-holder video {
	display: block;
}

.tile:hover .tile__img-holder img {
	opacity: 0.3;
	filter: grayscale(100%);
}

.is-enlarged:hover .tile__img-holder img,
.is-inactive:hover .tile__img-holder img {
	opacity: 1;
	filter: none;
}

.tile.is-playing .tile__img-holder img {
	opacity: 0;
}

.is-y-top .tile__img-holder {
	top: 0;
}

.is-y-center .tile__img-holder {
	top: 50%;
	transform: translateY(-50%);
}

.is-y-bottom .tile__img-holder {
	top: auto;
	bottom: 0;
}

.is-x-left .tile__img-holder {
	left: 0;
}

.is-x-center .tile__img-holder {
	left: 50%;
	transform: translateX(-50%);
}

.is-x-right .tile__img-holder {
	left: auto;
	right: 0;
}

.cat-1 .tile__img-holder { background: $cat-1-color; }
.cat-2 .tile__img-holder { background: $cat-2-color; }
.cat-3 .tile__img-holder { background: $cat-3-color; }



.tile__video-control {
	position: absolute;
	left: 50%;
	top: 50%;
	width: $vid-control-size;
	height: $vid-control-size;
	margin: $vid-control-size/(-2) 0 0 $vid-control-size/(-2);
	background: rgba($canada-red, 0.75);
	border-radius: 50%;
	z-index: 2;
	transition: all 0.3s;
	cursor: pointer;

	svg {
		display: block;
		width: 60%;
		height: 60%;
		margin: 20%;

		.play,
		.pause,
		.load {
			fill: $white;
		}
	}

	.pause,
	.load {
		display: none;
	}

	// .tile:not(.is-inactive):hover & {
	// 	opacity: 1;
	// }
}

.is-selected .tile__video-control {
	//opacity: 1;
	width: $vid-control-size-big;
	height: $vid-control-size-big;
	margin: $vid-control-size-big/(-2) 0 0 $vid-control-size-big/(-2);
}

.is-playing .tile__video-control {
	width: $vid-control-size;
	height: $vid-control-size;
	left: 0;
	top: 100%;
	margin: (-10px - $vid-control-size) 0 0 10px;

	.play {
		display: none;
	}

	.pause {
		display: block;
	}
}

.is-loading .tile__video-control {
	.play,
	.pause {
		display: none;
	}

	.load {
		display: block;
		transform-origin: center center;
		animation: spin 1s linear infinite;
	}
}

.tile__details {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0s, opacity 0s 0s;
	box-sizing: border-box;

}

.is-selected .tile__details {
	visibility: visible;
	opacity: 1;
	width: 100%;
	height: auto;
	max-height: 100%;
	min-height: 170px;
	transition: visibility 0s ($stage2Delay + $stage2Duration), opacity 0.3s ($stage2Delay + $stage2Duration);
}

.change-selection .is-selected .tile__details {
	transition: visibility 0s ($change-grow-delay + $change-grow-duration), opacity 0.3s ($change-grow-delay + $change-grow-duration);
}

.tile__text-holder {
	display: inline;
}

.tile__title .tile__text-holder,
.tile__date .tile__text-holder,
.tile__location-text .tile__text-holder {
	background: rgba($canada-red, 0.75);
	color: $white;
	box-shadow: ($text-padding * -1) 0 0 rgba($canada-red, 0.75), $text-padding 0 0 rgba($canada-red, 0.75);
}

.cat-1 .tile__description .tile__text-holder,
.cat-1 .tile__link-item .tile__text-holder {
	background: rgba($cat-1-color, 0.75);
	box-shadow: ($text-padding * -1) 0 0 rgba($cat-1-color, 0.75), $text-padding 0 0 rgba($cat-1-color, 0.75);
	color: $white;
}

.cat-2 .tile__description .tile__text-holder,
.cat-2 .tile__link-item .tile__text-holder {
	background: rgba($cat-2-color, 0.75);
	box-shadow: ($text-padding * -1) 0 0 rgba($cat-2-color, 0.75), $text-padding 0 0 rgba($cat-2-color, 0.75);
	color: $white;
}

.cat-3 .tile__description .tile__text-holder,
.cat-3 .tile__link-item .tile__text-holder {
	background: rgba($cat-3-color, 0.75);
	box-shadow: ($text-padding * -1) 0 0 rgba($cat-3-color, 0.75), $text-padding 0 0 rgba($cat-3-color, 0.75);
	color: $white;
}


.tile__title {
	text-transform: uppercase;
	max-width: 50%;
	padding: 0 $text-padding;
	margin: 10px 0 20px;
	font-weight: bold;
	@include tile-element-sizer(14, 2);
}

.tile__date {
	max-width: 50%;
	text-transform: uppercase;
	padding: 0 $text-padding;
	margin-bottom: 20px;
	@include tile-element-sizer(12, 2);
}

.tile__description {
	max-width: 50%;
	padding: 0 $text-padding;
	margin-bottom: 20px;
	font-weight: bold;
	@include tile-element-sizer(12, 2);
}

.tile__links {
	max-width: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tile__link-item {
	display: inline-block;
	padding: 0 $text-padding;
	font-style: italic;
	@include tile-element-sizer(12, 2);
}

.tile__link {
	text-decoration: none;
	text-transform: uppercase;
}

.tile__location {
	position: absolute;
	right: 10px;
	top: 10px;
	max-width: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url(../icons/map.svg) center center no-repeat;
	background-size: 75% auto;

}

.cat-1 .tile__location { background-color: rgba($cat-1-color, 0.75); }
.cat-2 .tile__location { background-color: rgba($cat-2-color, 0.75); }
.cat-3 .tile__location { background-color: rgba($cat-3-color, 0.75); }

.tile__location-text {
	text-transform: uppercase;
	padding: 0 $text-padding;
	margin: 0;
	position: absolute;
	top: 10%;
	right: 65%;
	@include tile-element-sizer(11, 2);
}

.tile__location-marker {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 8%;
	height: 8%;
	border: 1px solid #fff;
	border-radius: 50%;
	background: $canada-red;
}

.tile__expander {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: url(../icons/expand.svg) center center no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	opacity: 0;
	transition: transform 0.4s, opacity 0.4s;
	transform: scale(0.5);
	cursor: pointer;
}

.tile:hover .tile__expander {
	opacity: 1;
	transform: none;
	transition-delay: 0.2s
}

.tile.is-selected .tile__expander {
	opacity: 1;
	cursor: pointer;
	transition-delay: $stage2Delay + $stage2Duration;
	transition-duration: $stage2Duration;
	transform: none;
	background-image: url(../icons/collapse.svg);
	background-color: rgba($canada-red, 0.75);
	width: 40px;
	height: 40px;
}

@media screen and (min-height: 521px) and (min-width: 521px) {
	.tile__title { @include tile-element-sizer(18, 3); }
	.tile__date { @include tile-element-sizer(14, 2); }
	.tile__description { @include tile-element-sizer(14, 2); }
	.tile__link-item { @include tile-element-sizer(14, 2); }
	.tile__location-text { @include tile-element-sizer(14, 2); }
	.tile__location { width: 120px; height: 120px; }
}

@media screen and (min-height: 600px) and (min-width: 600px) {
	.tile__title { @include tile-element-sizer(24, 3); }
	.tile__date { @include tile-element-sizer(20, 2); }
	.tile__description { @include tile-element-sizer(20, 2); }
	.tile__link-item { @include tile-element-sizer(20, 2); }
	.tile__location-text { @include tile-element-sizer(20, 2); }
	.tile__location { width: 150px; height: 150px; }
}