$gutter: 10px;
$text-padding: 8px;
$header-padding--horizontal: 20px;
$header-padding--vertical: 20px;

// colors
$canada-red: #B12009;
$white: #fff;
$cat-1-color: #00CE9D; //3c9;
$cat-2-color: #F46300; //d63;
$cat-3-color: #FFB31A; //ec3;

//tile transitions
$stage1Duration: 0.3s;
$stage1Delay: 0s;
$stage2Duration: 0.3s;
$stage2Delay: 0.3s;
$stage1Ease: ease-out;
$stage2Ease: ease-out;

//tile change selection transitions
$change-shrink-duration: 0.3s;
$change-move-duration: 0.3s;
$change-grow-duration: 0.3s;

$change-shrink-delay: 0s;
$change-move-delay: $change-shrink-duration;
$change-grow-delay: $change-shrink-duration + $change-move-duration;

$change-ease: ease-out;

$vid-control-size: 40px;
$vid-control-size-big: 70px;
$vid-control-size-big--large-bp: 100px;
$vid-control-size-big--small-bp: 50px;
