$gutter: 10px;
$text-padding: 8px;
$header-padding--horizontal: 20px;
$header-padding--vertical: 20px;

// colors
$canada-red: #B12009;
$white: #fff;
$cat-1-color: #00CE9D; //3c9;
$cat-2-color: #F46300; //d63;
$cat-3-color: #FFB31A; //ec3;