@import 'variables';

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

/**
  * Use pasteup for deployed app. Use local folder, for local: '/bower_components/guss-webfonts/webfonts'
  */
//match: /\/\/pasteup\.guim\.co\.uk\/fonts\/0\.1\.0/g,
//replacement: '/bower_components/guss-webfonts/webfonts'

@import '../vendor/pasteup-palette/src/_palette.scss';
@import '../vendor/guss-webfonts/src/_webfonts.scss';
@import '../vendor/guss-typography/_typography.scss';

@include guss-webfonts('Guardian Agate Sans 1 Web');
@include guss-typography-defaults;

.grid-gallery {
	font-family: 'Guardian Agate Sans 1 Web', sans-serif;
	position: relative;

	@import 'reset';
	@import 'header';
	@import 'tile';

	button {
		font-family: inherit;
	}

	.container {
		transform: translateX(0);
		margin: 0 auto;
		overflow: hidden;
	}

	.gallery-container {
		position: relative;
		overflow: hidden;
	}

	.gallery {
		border: $gutter solid #fff;
		background: $white;
		transition-property: transform;
		transition-duration: $stage2Duration;
		transition-delay: $stage2Delay;
		transition-timing-function: $stage2Ease;

		&.has-selected {
			transition-duration: $stage1Duration;
			transition-delay: $stage1Delay;
			transition-timing-function: $stage1Ease;
		}

		&.change-selection {
		}

	}

	.is-dragging .gallery {
		transition: none;
	}

	.gallery__next,
	.gallery__prev {
		$duration: 0.3s;

		margin: 0;
		padding: 10px;
		border: 0;
		background: $white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		transition: opacity $duration 0s, visibility 0s 0s;

		&.is-inactive {
			opacity: 0;
			visibility: hidden;
			transition: opacity $duration 0s, visibility 0s $duration;
		}
	}

	.gallery__next {
		right: 0;
	}

	.gallery__prev {
		left: 0;
	}

	.is-portrait {
		.gallery__next,
		.gallery__prev {
			display: none;
		}
	}

}